/* Make left and right divs as row view  */
body {
    /* Make all divs right next to each other */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* align vertical */
    height: 100vh;
    width: 100vw;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;

    /* Mint blue bg */
    background-color: #00dfc0;
    /* Add space */
    margin: 5.5em;

    /* Make elements into a column */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 30px;

    color: white;

    border-radius: 20px;
}

.left button {
    width: 100%;

    /* Make beaufiful*/
    background-color: #FF6F61;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.left h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* Add space */
    margin: 5.5em;

    /* Make elements into a column */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 30px;

    color: white;

    border-radius: 20px;
}