<div class="cart-nav">
    <div class="cart-nav-wrapper">
        <ul>
            <li>
                <button id="meal-button">Meals</button>
            </li>
            <li>
                <button id="sides-button">Sides</button>
            </li>
            <li>
                <button id="drinks-button">Drinks</button>
            </li>
        </ul>
    </div>
</div>