<style>

    .cart-container {
        /* Put this at the side of the screen beside another div */
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 80%;

        margin: 110px;

        background-color: #F2F2F2;
        border-left: 1px solid #E5E5E5;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
    }

    .cart-container .cart-head {
        /* Make elements in the same line */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
</style>

<div class="cart-container">
    <div class="cart-head">
       <p class="title">New Order Bill</p>
       <p class="date">Today - <%= date %></p> 
    </div>
    <form method="post" action="/checkout" id="submitForm" class="form-wrapper">
        <div class="main-meal">
            <input type="text" id="mainm" name="meal" required placeholder="Meal" readonly>
            <input type="number" id="quantitymain" name="mquan" required value="1" min="1">
        </div>

        <br>
        <div class="sides">
            <input type="text" id="sides" name="sides" required placeholder="Sides" readonly>
            <input type="number" id="quantityside" name="squan" required value="1" min="1">
        </div>

        <br>
        <div class="drinks">
          <input type="text" id="drinks" name="drink" required placeholder="Drinks" readonly>
            <input type="number" id="quantitydrink" name="dquan" required value="1" min="1">  
        </div>
        <br>
        <br>
        <br>
        
        <label for="item">Total:</label>
        <input type="text" id="total" name="total" required readonly value="0">
    
        <button type="submit" class="button-order" onclick="checkFields(event)">Add to Cart</button>
    </form>
</div>