<div class="cart-container">
    <div class="cart-head">
       <p class="title">New Order Bill</p>
       <p class="date">Today - <%= date %></p> 
    </div>
    <form method="post" action="/checkout" id="submitForm" class="form-wrapper">
        <div class="carts">
            <div class="main-meal">
                <button type="button" id="mclear" class="clear-button" hidden>x</button>
                <input type="text" id="mainm" name="meal" required readonly hidden value="none">
                <input type="text" id="mainphp" name="mainprice" required readonly hidden value="0">
                <button type="button" class="quantbtn" id="msubtract" hidden>-</button>
                <input type="text" class="quanti" id="quantitymain" name="mquan" required value="0" min="0" readonly hidden>
                <button type="button" id="madd" class="quantbtn" hidden>+</button>
            </div>
    
            <div class="sides">
                <button type="button" id="sclear" class="clear-button" hidden>x</button>
                <input type="text" id="sides" name="sides" required readonly hidden value="none" >
                <input type="text" id="sidesphp" name="sideprice" required readonly hidden value="0">
                <button type="button" id="ssubtract" class="quantbtn" hidden>-</button>
                <input type="text" id="quantityside" name="squan" class="quanti" required value="0" min="0" readonly hidden>
                <button type="button" id="sadd" class="quantbtn" hidden>+</button>
            </div>
    
            <div class="drinks">
                <button type="button" id="dclear" class="clear-button" hidden>x</button>
                <input type="text" id="drinks" name="drink" required readonly hidden value="none">
                <input type="text" id="drinksphp" name="drinkprice" required readonly hidden value="0">
                <button type="button" id="dsubtract" class="quantbtn" hidden>-</button>
                <input type="text" id="quantitydrink" name="dquan" class="quanti" required value="0" min="0" hidden>  
                <button type="button" id="dadd"  class="quantbtn" hidden>+</button>
            </div>

        </div>
        <div class="total-container">
            <label for="item">Total:</label>
            <input type="text" id="total" class="ttl" name="total" required readonly value="0" >
        </div>

        <div class="wrapper-butt">
            <button id='clear' type="button" class="clear-button" onclick="clearOrder()">Clear</button>
            <button id='submit' type="submit" class="button-order">Add to Cart</button>
        </div>
    </form>
</div>