<div class="tiles-layer">
    <% for (var i = 0; i < drinks.length; i++) { %>
        <div class="button-menu-container">
            <button class="button-menu" id="drinks<%= i + 1 %>"><%= drinks[i] %></button>
        </div>
    <% } %>
</div>