<div class="button-menu-container">
    <ul>
        <li>
            <div class="meal-1">
                <img class="steak" src="images/icedtea.jpg" alt="steak"">
                <div class="steak-label">
                    <p class="label">Oolong Iced Tea</p>
                    <div class="cal-content">
                        <img src="/images/cart/calories.png" class="calorie-intake">
                        <p class="calorie-1">50g</p>
                    </div>
                    <p class="desc">Rib eye steak is a succulent and flavorful cut of beef, known for its marbling and tenderness, making it a popular choice among steak lovers worldwide. Grilled to perfection, it delivers a juicy and rich dining experience that leaves taste buds craving for more.</p>
                    <br>
                </div>
                <div class="buy">
                    <p>PHP 900</p>
                    <button class="button-menu" id="drinks1" class="meals1"></button>
                </div>
            </div>
        </li>

        <li>
            <div class="meal-2">
                <img class="salmon" src="images/rootbeer.jpg" alt="salmon"">
                <div class="steak-label">
                    <p class="label">Root Beer</p>
                    <div class="cal-content">
                        <img src="/images/cart/calories.png" class="calorie-intake">
                        <p class="calorie-1">20</p>
                    </div>
                    <p class="desc">Grilled to perfection, rib eye steak is a succulent and flavorful beef cut, renowned for its marbling and tenderness, making it a beloved choice among steak aficionados worldwide, delivering a tantalizing dining experience that leaves taste buds longing for more.</p>
                    <br>
                </div>
                <div class="buy">
                    <p>PHP 900</p>
                    <button class="button-menu" id="drinks2" class="meals2"></button>
                </div>
            </div>
        </li>

        <li>
            <div class="meal-2">
                <img class="salmon" src="images/water.jpg" alt="salmon"">
                <div class="steak-label">
                    <p class="label">Tap Water</p>
                    <div class="cal-content">
                        <img src="/images/cart/calories.png" class="calorie-intake">
                        <p class="calorie-1">20</p>
                    </div>
                    <p class="desc">Roasted chicken, a timeless delight, features tender meat and crispy skin, delivering a flavorful and satisfying dining experience that leaves cravings unquenched. The aromatic blend of herbs and spices infuses the chicken, creating a tantalizing aroma, making it a culinary favorite worldwide.</p>
                </div>
                <div class="buy">
                    <p>PHP 900</p>
                    <button class="button-menu" id="drinks3" class="meals2"></button>
                </div>
            </div>
        </li>
    </ul>
</div>

