<div class="button-menu-container">
    <ul>
        <li>
            <div class="meal">
                <img class="steak" src="images/steak.jpg" alt="steak"">
                <div class="steak-label">
                    <p class="label">Rib Eye Steak</p>
                    <div class="cal-content">
                        <img src="/images/cart/calories.png" class="calorie-intake">
                        <p class="calorie-1">50g</p>
                    </div>
                    <p class="desc">Rib eye steak is a succulent and flavorful cut of beef, known for its marbling and tenderness, making it a popular choice among steak lovers worldwide. Grilled to perfection, it delivers a juicy and rich dining experience that leaves taste buds craving for more.</p>
                    <br>
                </div>
                <div class="buy">
                    <p>PHP 900</p>
                    <button class="button-menu" id="meals1" class="meals1"></button>
                </div>
            </div>
        </li>
    </ul>
</div>

