<div class="navigation-layer">
    <div class="button-menu-container">
        <button class = "button-menu" id = "main-button">Main</button>
    </div>
    <div class="button-menu-container">
        <button class = "button-menu" id = "sides-button">Sides</button>
    </div>
    <div class="button-menu-container">
        <button  class = "button-menu" id = "drinks-button">Drinks</button>
    </div>
</div>