<div class="tiles-layer">
    <% for (var i = 0; i < sides.length; i++) { %>
        <div class="button-menu-container">
            <button class="button-menu" id="sides<%= i + 1 %>"><%= sides[i] %></button>
        </div>
    <% } %>
</div>