<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - Success</title>

    <link rel="stylesheet" href="css/Checkout/checkout.css">
</head>
<body>


    <div class="left">
        <h1>Success</h1>
        <p>You order is now in the kitchen being prepared by our LaSallian Chefs!</p>
        <a href="/">Hungry? Order more!</a>
    </div>
    <div class="right">
        <img src="/images/checkout/confirmed.jpg" alt="" srcset="">
    </div>
    
</body>
</html>