body {
    /* Make elements divided into two portions left and right */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* Add space */
    margin: 0;
    padding: 0;


    /* Make elements middle of the screen x and y axis */
    height: 100vh;
    width: 100vw;

}

/* Make left portion of body into a column and middle of the screen horizontally and vertically */
.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;

    /* Mint blue bg */
    background-color: #00dfc0;
    /* Add space */
    margin: 5.5em;

    /* Make elements into a column */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 30px;

    color: white;

    border-radius: 20px;
}

/* Make input[type=submit] and button right next to each other */
input[type=submit] {
    width: 100%;

    /* Make beaufiful*/
    background-color: rgb(79, 243, 79);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    width: 100%;

    /* Make beaufiful*/
    background-color: #fc4c4c;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    font-size: 20px;

    text-align: left;
}





/* Make right portion of body into a column and middle of the screen horizontally and vertically */
.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2.5em;

    margin-left: 20vh;
}

img {
    width: 600px;
    height: 600px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}
