<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="menu-layer">
        <div class="main-layer">
            <div class="header-layer">
            <div class = "animo-text">Animo Bites</div>
            <div class = "time-text">Mon, June 19, 2023 12:45 PM</div>
            </div>
            <div class="navigation-layer">
                <div class="button-menu-container">
                    <button id = "button-menu">Main</button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu">Sides</button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu">Drinks</button>
                </div>
            </div>
            <div class="tiles-layer">
                <button id="button-image">
                    <div class="image"></div>
                    <div class="text">Steak</div>
                </button>

            </div>
            <div class="cancel-layer">
                <div class="button-menu-container">
                    <button id = "button-cancel">Main</button>
                </div>
            </div>
        </div>

        <div class="cart-layer">
            
            <div class = "cart-text">CART</div>
                <div class = "rectangular-shape">
                    <span class="shape-text">
                        Steak <br>
                        Php 900
                    </span>
                    <div class="button-group">
                        <button class="subtract-button">-</button>
                        <span class="number-indicator">0</span>
                        <button class="add-button">+</button>
                    </div>
                </div>
                <div id ="cost" class = "rectangular-shape">
                    <span class="shape-text">
                        Subtotal<br>
                        Discount
                    </span>
                    <div id = "totalText" class="right-side">
                        Php 900<br>
                        Php 0
                    </div>
                </div>
                <div id ="total" class = "rectangular-shape">
                    <span class="shape-text">
                        Total 
                    </span>
                    <div class="right-side">
                        Php 900
                    </div>
                </div>
                <div class="button-container">
                    <button id = "button">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>