<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="menu-layer">
        <div class="cart-layer">
            
            <div class = "cart-text">CART</div>
            <div class = "rectangular-shape">
                <span class="shape-text">
                    Steak <br>
                    Php 900
                </span>
                <div class="button-group">
        <button class="subtract-button">-</button>
        <span class="number-indicator">0</span>
        <button class="add-button">+</button>
      </div>
            </div>
            <div id ="cost" class = "rectangular-shape">
            </div>
            <div id ="total" class = "rectangular-shape">
            </div>
            <div class="button-container">
                <button type = "button" >Checkout</button>
            </div>
        </div>
    </div>

</body>
</html>