<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="menu-layer">
        <div class="cart-container">
            <h1>CART</h1>

            <!-- Scrollable container for cart items -->
            <div class="scrollable">

                <ul>
                    <li>
                <div class="item-container">
                    <div class="name-price">
                        <span class="name"><h3>Steak</h3></span>
                        <span class="price"><h3>Php 900</h3></span>
                    </div>

                    <div class="button">
                        <span><button id="add-button" class="add">+</button> <p id="quantity">0</p> <button id="minus-button" class="minus">-</button></span>
                        <script src="script/home/home.js"></script>
                    </div>
                </div>
                    </li>

                </ul>

            </div>

            <div class="price-div">
                <div>
                <span class="label">Subtotal:</span>
                <span class="money">Php 900</span>
                </div>

                <div>
                <span class="label">Discount:</span>
                <span class="money">Php 0</span>
                </div>
            </div>

            <div class="total-div">
                <span class="label">Total:</span>
                <span class="money">Php 900</span>
            </div>

            <div class="button-div">
                <button class="checkout">Checkout</button>
            </div>
            


            <!-- Scrollable container for cart items -->
            <!-- <div class = "cart-container"> -->
                <!-- Item container -->

            <!-- <div class = "item-container">
                <div class = "rectangular-shape">
                    <span class="shape-text">
                        Steak <br>
                        Php 900
                    </span>
                    <div class="button-group">
                        <button class="subtract-button">-</button>
                        <span class="number-indicator">0</span>
                        <button class="add-button">+</button>
                    </div>
                </div>
            </div>
            </div> -->
<!-- 
                <div id ="cost" class = "rectangular-shape">
                    <span class="shape-text">
                        Subtotal<br>
                        Discount
                    </span>
                    <div id = "totalText" class="right-side">
                        Php 900<br>
                        Php 0
                    </div>
                </div>
                <div id ="total" class = "rectangular-shape">
                    <span class="shape-text">
                        Total 
                    </span>
                    <div class="right-side">
                        Php 900
                    </div>
                </div>
                <div class="button-container">
                    <button id = "button">Checkout</button>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
</body>
</html>