<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <script type="text/javascript" src="scripts/home/home.js"></script>
    <div class="menu-layer">

        <div class="main-layer">
            <div class="header-layer">
            <div class = "animo-text">Animo Bites</div>
            <div class = "time-text">Mon, June 19, 2023 12:45 PM</div>
            </div>
            <div class="navigation-layer">
                <div class="button-menu-container">
                    <button id = "button-menu">Main</button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu">Sides</button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu">Drinks</button>
                </div>
            </div>

            <div class="tiles-layer">
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addMain('Steak')"><p id="steak_main">Steak</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addMain('Salmon')"><p id="salmon_main">Salmon</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addMain('Chicken')"><p id="chicken_main">Chicken</p></button>
                </div>
            </div>

            <div class="tiles-layer">
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addSide('Baked Potato')"><p id="bakedPotato_id">Baked Potato</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addSide('Mashed Potato')"><p id="mashedPotato_id">Mashed Potato</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addSide('Steamed Vegetables')"><p id="steamedVegetables_id">Steamed Vegetables</p></button>
                </div>
            </div>

            <div class="tiles-layer">
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addDrink('Ice Tea')"><p id="iceTea_id">Ice Tea</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addDrink('Root Beer')"><p id="rootBeer_id">Root Beer</p></button>
                </div>
                <div class="button-menu-container">
                    <button id = "button-menu" onclick="addDrink('Water')"><p id="water_id">Water</p></button>
                </div>
            </div>

            <div class="cancel-layer">
                <div class="button-menu-container">
                    <button id = "button-cancel" onclick="clearOrder()">Cancel</button>
                </div>
            </div>
        </div>

        <!-- FOR CART -->
        <div class="cart-container">
            <h1>CART</h1>
            <!-- Scrollable container for cart items -->
            <div class="scrollable">

                <ul>
                    <li>
                <div class="item-container">
                    <div class="name-price">
                        <span class="name"><h3>Steak</h3></span>
                        <span class="price"><h3>Php 900</h3></span>
                    </div>
                    
                    <div class="button">
                        <button id="minus-button" class="minus" onclick="removeQuantity()">-</button> <p id="quantity" class="quantity_class">0</p> <button id="add-button" class="add" onclick="addQuantity()">+</button>
                    </div>

                </div>
                    </li>

                </ul>

            </div>

            <div class="price-div">
                <div>
                <span class="label">Subtotal:</span>
                <span class="money">Php 900</span>
                </div>

                <div>
                <span class="label">Discount:</span>
                <span class="money">Php 0</span>
                </div>
            </div>

            <div class="total-div">
                <span class="label">Total:</span>
                <span class="money">Php 900</span>
            </div>

            <div class="button-div">
                <button class="checkout">Checkout</button>
            </div>
        </div>
        <!-- END OF CART -->
    </div>
</body>
</html>