.header-layer {
    font-size: 1em;
    margin: 0.5em;
    
}

.header-layer h1 span {
    background-color: #C4F1A9;
    color: white;
    padding: 0.2em;
    border-radius: 0.2em;
    /* Add space */
    margin: 0.2em;

}