<nav>
    <div class="nav-wrapper">
        <ul>
            <li>
                <div class="header-layer">
                    <h1>Animo<span>Bites</span></h1>
                </div>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <!-- Link to index.php in admin folder -->
                <a href="http://localhost/it-prog/Github/ITPROG/admin/index.php">Login</a>
            </li>
        </ul>
    </div>
</nav>