<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/about/about.css">
    <link rel="stylesheet" href="css/navbar/navbar.css">

    <%- include("../navbar/navbar.ejs") %>
</head>
<body>
    <div class="center">
        <h1>About us</h1>
        <p>
            Animobites is a food delivery website that specializes in crafting irresistible culinary creations. Our menu features an array of mouthwatering dishes, from savory delights to decadent desserts, all prepared with the finest ingredients and culinary expertise. With Animobites, you can indulge in a truly delightful food delivery experience that will leave you craving for more.
        </p>
    </div>
</body>
</html>