body {
    background-color: #f5f5f5;
    font-family: 'Figtree', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 400px;
}

.center h1 {
    color: #00dfc0;
}

.center p {
    /* Add spacing */
    margin: 0.5em;
    line-height: 1.5em;
    justify-content: center;

    /* Add space between paragraphs */
    padding: 0.5em;
}